body {
    font-family: Arial;
    background-color: #f2f2f2;
}

h4 {
    text-align: center;
}

label {
    /* display: block;  */
    margin-top: 8px;
}

/* .right input,
.right select {
    width: 90%;
    padding: 5px;
    margin-top: 3px;
}
 */

/*الحااوية*/
.container {
    width: 900px;
    margin: auto;
    background-color: rgb(9, 53, 9);
    padding: 20px;
    color: white;
}

/*العنوان*/
h1 {
    text-align: center;
    font-size: 45px;
    color: gold;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px black;
}

/* الفوورم*/
form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*------اليسار*/
.left {
    width: 60%;
}

/*كل سطر input+ labal*/
.left label {
    display: inline-block;
    /*الاسم و المربع بنفس السطر*/
    color: #d1b200;
    width: 150px;
    text-align: left;
    margin-right: 10px;
    vertical-align: middle;

}

.left input,
.left select {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 0;
    vertical-align: middle;
}




/*---------اليمين*/

.right {
    width: 40%;
    text-align: center;
}

.right p {
    color: gold;
    font-weight: bold;

}

.right img {

    width: 200px;
    border: 2px solid white;
    margin: 10px 0;


}

/* مربع رفع الصورة*/
input[type="file"] {
    margin-top: 10px;

}

/*-------ازرار*/
button {
    width: 30%;
    padding: 4px;
    margin: 6px auto;
    background-color: rgb(207, 193, 193);
    border: none;
    cursor: pointer;
    display: block;
}

/* الزر الصغير */
.right .small-btn {
    width: 20%;
    /* أصغر من باقي الأزرار */
    padding: 2px;
    margin: 8px auto 0 auto;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    font-size: 12px;
    display: block;
}

/*  النجمة */
.left .required {
    color: rgb(156, 180, 16);
    margin-left: 5px;
    vertical-align: middle;
    font-weight: bold;
}


/* نخلي الحاوية مرجع للتموضع */
.container {
    position: relative;
}

/* اللوجوهات العلوية */
.top-logo {
    width: 60px;
    position: absolute;
    top: 10px;
}

/* يسار */
.left-logo {
    left: 10px;
}

/* يمين */
.right-logo {
    right: 10px;
}

/* الشريط العلوي الرمادي */

.window-bar {
    width: 930px;
    margin: auto;
    background: linear-gradient(to bottom, #dbe6f1, #b7c9da);
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    font-size: 12px;
    color: black;
    border: 1px solid #9aaec3;
    border-bottom: none;
    /* box-sizing: border-box;*/
}